* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: white;
    text-align: center;
    background: linear-gradient(45deg, #2E97E0, #0e76bd);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#tempo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

